@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-info">
    <p>Mã sinh viên: 2310900090</p>
    <p>Họ và tên: Nguyeen Van Son</p>
    <p>Email: nvson2311@gmail.com</p>
    <p>Điện thoại: 0974.326.194</p>
    <p>Lớp: K23CNT2</p>
</div>