@{
    ViewData["Title"] = "thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 23000121212</p>
    <p>Họ và tên:Nguyễn Văn Sơn</p>
    <p>Lớp: K23CNT2</p>
    <p>Email: nvson2311@gmail.com </p>
    <p>Điện thoại: 0974326194</p>
</div>