@model NvsSinhVien

<h2>Thông Tin Sinh Viên</h2>

<ul>
    <li><strong>Mã Sinh viên:</strong> @Model.MSV</li>
    <li><strong>Họ tên:</strong> @Model.HoTen</li>
    <li><strong>Tuổi:</strong> @Model.Tuoi</li>
    <li><strong>Lớp:</strong> @Model.Lop</li>
</ul>