﻿
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900090</p>
    <p>Họ và tên:Nguyễn Văn Sơn</p>
    <p>Lớp: K23CNT2</p>
    <p>Email: nvson2311@gmail.com </p>
    <p>Điện thoại: 0974325194</p>
</div>