@{
    ViewData["Title"] = "thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>ViewData["Title"]</h1>
    <hr/>
    <p>mã sinh viên: 2310900090</p>
    <p>họ tên: Nguyễn Văn Sơn</p>
    <p>emai:nvson2311@gmail.com</p>
    <p>điện thoại:0974326194</p>
    <p>lớp : k23cnt2</p>
</div>
