@{
    ViewData["Title"] = "thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>msv:2310900090</p>
<p>tên:Nguyễn Văn Sơn</p>
<p>email:nvson2311@gmail.com</p>
<p>ngày sinh:23/11/2005</p>
<p>lớp:k23cnt2</p>
